@import '../../../../styles.scss';
.wrapper {
  position: relative;

  .text-label {
    color: #707070;
    position: absolute;
    left: 9px;
    background-color: transparent;
    top: 4px;
    z-index: 10;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    border-radius: 50%;
  }
  .overwrite-container {
    margin: 0;
    padding: 0;
    height: auto;
    .overwrite-input {
      margin: 0;
      box-shadow: 0 3px 6px #0000000d;
      border: 0.5px solid #aaaaaa;
      border-radius: 3px;
      padding: 7px;
      transition: all 0.2s ease-in-out;
    }
  }
}

.to-top {
  padding: 0 5px;
  background-color: white !important;
  top: -10px !important;
  transform-origin: -10px 0;
  transform: scale(0.8);
}

.tooltip {
  top: 34px;
  z-index: 100;
}
